<!-- Header Starts -->
<div class="top-bar" style="background:url(../img/bg.jpg) #222;">
 <div class="navbar-inverse" role="navigation" >
     <div class="container-fluid">
   <div class="row">
      <div class="col-md-6"> </div>
   </div>
   <div class="row">
    <div class="col-md-1"> </div>
   </div>            
   <div class = "row">
    <div class="col-md-8"><a href= "index.jsp"> <img src = "img/logo.png" height="100" width="150"> </a></div>
    <div class= "col-md-2"></div>
    <div class= "col-md-2"><a href= "login.jsp" style = "color: black">Login</a> / <a href="View/formularioUsuario.jsp" style = "color: black">Registre-se</a></div>
   </div>       
   
            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  style = "color: black">Home</a></li>
                <li><a href="#" style = "color: black">Ver imoveis</a></li>
                <li><a href="#" style = "color: black">Adicionar Imoveis</a></li>         
                <li><a href="#" style = "color: black">Contato</a></li>
                
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

</div>